.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#education {
  background-color: #e2edff;
}

#Experiences {
  background-color: #e2edff;
}

#skills {
  background-color: #e2edff;
}

section {
  pedding-top: 5rem;
}
